*.suo
*.user
*.sln.docstates
[Dd]ebug/
[Rr]elease/
obj/
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.vspscc
.builds
*.dotCover
*.cache
*.suo
src/cqa_medical/Files/
src/cqa_medical/StatOutput/
_ReSharper*
files/
